html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-height-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.table-wrapper {
  overflow-x: auto;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

#myTable {
  table-layout: fixed;
  width: auto;
}

#myTable th,
#myTable td {
  width: 180px; /* Default width */
  min-width: 180px; /* Ensure minimum width */
  max-width: 180px; /* Ensure maximum width */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #e5e5e5;
  padding: 8px;
}

#myTable th {
  background-color: #f8f8f8;
  height: 40px; /* Adjust this value as needed */
}

#myTable th[data-column="name"],
#myTable td[data-column="name"] {
  width: 310px;
  min-width: 310px;
  max-width: 310px;
}

#myTable th[data-column="feature-source"],
#myTable td[data-column="feature-source"] {
  width: 210px;
  min-width: 210px;
  max-width: 210px;
}

#myTable th[data-column="entry-type"],
#myTable td[data-column="entry-type"] {
  width: 185px;
  min-width: 185px;
  max-width: 185px;
}

#myTable th[data-column="related-functionality"],
#myTable td[data-column="related-functionality"] {
  width: 330px;
  min-width: 330px;
  max-width: 330px;
}

#myTable th[data-column="keyboard-shortcut"],
#myTable td[data-column="keyboard-shortcut"] {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}

#myTable th[data-column="description-added"],
#myTable td[data-column="description-added"] {
  width: 240px;
  min-width: 240px;
  max-width: 240px;
}

#myTable th[data-column="description"],
#myTable td[data-column="description"] {
  width: 1050px;
  min-width: 1050px;
  max-width: 1050px;
}

#myTable th[data-column="screenshot"],
#myTable td[data-column="screenshot"] {
  width: 145px;
  min-width: 145px;
  max-width: 145px;
}

#myTable th[data-column="demonstration"],
#myTable td[data-column="demonstration"] {
  width: 165px;
  min-width: 165px;
  max-width: 165px;
}

.page-title {
  margin: 20px 20px 0px 20px;
  font-size: 24px;
  background-color: rgb(0 0 0);
  padding: 20px;
  border-radius: 5px;
  color: #eee;
}

.tagline {
  margin: 10px 20px;
  padding: 5px 5px 5px 20px;
  background-color: #eee;
  border-radius: 5px;
  color: #000;
}

.sortable {
  position: relative;
  padding-right: 50px;
}

.header-content {
  display: inline-flex;
  align-items: center;
  max-width: calc(100% - 50px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%; /* Ensure it takes full height of the th */
}

.icon-container {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 10px; /* Add gap between flex items */
}

.icon-sort,
.icon-filter {
  cursor: pointer;
  font-size: 0.8em;
  display: flex; /* Make these flex containers */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  width: 20px; /* Set a fixed width */
  height: 20px; /* Set a fixed height */
}

/* Remove the left margin from .icon-filter as we're using gap now */
.icon-filter {
  margin-left: 0;
}

.icon-filter i {
  font-size: 14px; /* Adjust size as needed */
}

.icon-filter.active,
.icon-filter.active::before {
  color: red !important;
  fill: red !important;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.sortable.asc .icon-sort::after,
.sortable.desc .icon-sort::after {
  content: none;
}

.filter-container {
  margin: 5px 20px;
  background: #000;
  padding: 20px;
  border-radius: 5px;
}

.centered_td {
  text-align: center;
}

.uk-link,
a {
  text-decoration: underline;
}

p.filter_instruction {
    display: inline-block;
    margin-left: 35px;
    color: #eee;
}

.icon-filter {
  cursor: pointer;
  margin-left: 5px;
}

.filter-options {
  position: fixed;
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter-options li {
  margin-bottom: 5px;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width: 500px;
}

.column-filter {
    width: 100%;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    border: 0 none;
    background: #f8f8f8;
    color: #666;
    font-size: 16px;
}

.clear-button {
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  cursor: pointer;
  display: none;
}

.uk-table-hover > tr:hover, .uk-table-hover tbody tr:hover {
  background: #f8f8f8;
}

:not(pre)>code, :not(pre)>kbd, :not(pre)>samp {

  color: #000000 !important;
  background: #eee !important;
  padding: 2px 5px !important;

}

#media-gallery {
  display: none;
}